
<section class="content text-center">
    <div class="block-wrapper">
        <div class="editorial-block-editorial-category">
			<h1 class="editorial-block-title">Boutique Location</h1>
		</div>
		<hr />
    </div>
    <div class="block-wrapper">
		<div class="row">
			<div class="col-md-12 lokasi-butik text-center">
				<div class="col-sm-3">
					<div class="box box-success">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Boutique Jakarta</h3>
						</div>
						<div class="box-body">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3335.0473146964705!2d106.8026674419466!3d-6.255563317918353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1766050d60d%3A0xcc8763dd5f55b8ad!2sSi.Se.Sa+Boutique!5e0!3m2!1sid!2sid!4v1519384332736" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="box-footer">
							<span>Jl. Prapanca Raya No.113b</span>
							<span>Kebayoran Baru, Jakarta Selatan</span><br/>
							<span>Phone : (021)7251268</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Boutique Makassar</h3>
						</div>
						<div class="box-body">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.675475477536!2d119.44056251535493!3d-5.155818796258511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee2c0c707154d%3A0xec7c6189b9b43f81!2sSisesa+Boutique+Makassar!5e0!3m2!1sen!2sid!4v1520246079074" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="box-footer">
							<span>Jl. Boulevard Raya, Blok A4 No.1</span>
							<span>Panakukkang, Makassar</span><br/>
							<span>Phone : (0411)4676330</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box box-danger">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Boutique Medan</h3>
						</div>
						<div class="box-body">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.068727302158!2d98.67125811535065!3d3.57166599740082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30313030674dff3b%3A0x78793957f3fad372!2ssi.se.sa+Buah!5e0!3m2!1sen!2sid!4v1520246142737" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="box-footer">
							<span>Jl. Ir. H. Juanda, Kompek Grand Delta, No. 31</span>
							<span>Medan, Sumatera Utara</span><br/>
							<span>Phone : (021)88814542</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box box-success">
						<div class="box-header with-border">
							<h3 class="box-title text-bold">Boutique Surabaya</h3>
						</div>
						<div class="box-body">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d699.6071600365891!2d112.73100677700513!3d-7.2890158422476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fb933e40f991%3A0x5c7ab5237008da6d!2ssi.se.sa!5e0!3m2!1sen!2sid!4v1520245779548" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						<div class="box-footer">
							<span>Jl. Indragiri No. 12-18, Ruko Landmark</span>
							<span>Surabaya, Jawa Timur</span><br/>
							<span>Phone : (031)5688020</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
    </div>
</section>