<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {breadcrum}

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
      <div class="col-md-12">
		<div class="box">
			<form method="post" action="{base}/{class}/{function}">
				<div class="box-header">
				  <h3 class="box-title">Per Department</h3>
				  <!-- <button class="btn btn-primary btn-sm pull-right" onclick="window.location='{base}/{class}/add'"> -->
					<!-- <i class="fa fa-plus"></i> Tambah {class} -->
				  <!-- </button> -->

				  <!-- <div class="box-tools"> -->
					<!-- <ul class="pagination pagination-sm no-margin pull-right"> -->
					  <!-- <li><a href="#">«</a></li> -->
					  <!-- <li><a href="#">1</a></li> -->
					  <!-- <li><a href="#">2</a></li> -->
					  <!-- <li><a href="#">3</a></li> -->
					  <!-- <li><a href="#">»</a></li> -->
					<!-- </ul> -->
				  <!-- </div> -->
				</div>
				<!-- /.box-header --> 
				<div class="box-body no-padding text-center"> 
					<div class="col-md-5">  
						<div class="form-group">
						<label> Department </label>
							<select class="form-control text-center" name="department_id">
								<option class="text-center" value="all">-- Pilih --</option>
								{all_department}
								<option class="text-center" value="{department_id}"> {department_nama} </option>
								{/all_department}
							</select>
						</div>
						<div class="form-group">
						<label> Periode </label>
						<div class="input-group">
						  <div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						  </div>
						  <input class="form-control text-center" name="periode" id="rangeabsen" type="text">
						</div>
						</div>
						<!-- <div class="form-group"> -->
							<!-- <label> Periode Absensi </label> -->
							<!-- <input class="form-control ambiltanggal" name="mulai" placeholder="dd/mm/yyyy" type="text"> -->
							
						<!-- </div> -->
						<div class="form-group">  
							<button class="btn btn-primary btn-block" id="cari_periode"> Cari </button>
						</div>
						
					</div>
					<div class="col-md-4">			
				
					</div>
					<style>
						tbody.ket>tr>td{padding-top:1%;padding-bottom:1%; font-size:9pt;}
					</style>
					<div class="col-md-3 text-left">
						<table class="table">
							<thead><tr> <th colspan="3">Keterangan : </th></tr></thead>
							<tbody class="ket">
								<tr><td> H </td><td>:</td><td> Hadir</td></tr>
								<tr><td>HT </td><td>:</td><td> Hadir Terlambat</td></tr>
								<tr><td> A </td><td>:</td><td>Alspanha / Bolos</td></tr>
								<tr><td>C </td><td>:</td><td>Cuti </td></tr>
								<tr><td>I </td><td>:</td><td>Ijin </td></tr>
								<tr><td> L </td><td>:</td><td> Lembur</td></tr>
								<tr><td> S </td><td>:</td><td> Sakit</td></tr>
								<tr><td class="text-red" colspan="3">*hari libur</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
		<div class="box-footer" id="absen_department" style="display:{absen_department};">
			
			<div class="col-md-12"> 
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead class="bg-blue">
							<tr>
								<th class="text-center">No</th>
								<th class="text-center" style="padding-left:100px; padding-right:100px;">Nama</th>
								{all_absensi}
								<th class="text-center" style="padding-left:10px; padding-right:10px;">{tanggalan}</th>
								{/all_absensi}
								<!-- <th class="text-center">Aksi</th> -->
							</tr>
						</thead>
						<tbody>
	{perdepartment}					
							<tr>
								<td >{nomor}</td>
								<td>{nama_lengkap}</td>
								{all_absensi}
								<td class="text-center" style="background:{bg_color};color:{color}">{absensi}</td>
								{/all_absensi}
								<!-- <td>{keterangan}</td> -->
							</tr>	
	{/perdepartment}					
						</tbody>
					</table>
				</div>
			</div>
		</div>
      </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  
<script>
	
	$('#rangeabsen').daterangepicker({ 
		"locale": {
			"format": "DD-MM-YYYY",
			"separator": " - ",
		}}
	);
</script>